@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bio-container {
  z-index: 1000;
}

.montserrat {
  font: bold 1.5rem 'Montserrat', sans-serif;  
}

.gold {
  color: #FFC107;
}

.white {
  color: white;
}

.background-container {
  background-color: #0d47a1;
  min-height: 100vh;
  width: 100%;
}

.project-container {
  width: 350px;
}

.contact-container {
  background-color: white;
}